*{
    font-family: 'Ubuntu Mono', monospace;
}

.heading {
    color: #111827;
}

input {
    margin: 3px;
    width: 350px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #9CA3AF;
}

input:focus {
    outline: none;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 365px;
    padding: 30px;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 5px;
    margin-top: 50px;
    background-color: #C0C0C0;
}

p {
    margin: 0;
    color: #DC2626;
    margin-bottom: 15px;
}

#submit-form {
    font-size: 17px;
    padding: 9px;
    background-color: #121212;
    color: white;
    font-weight: 700;
    border-radius: 4px;
}

label {
    font-size: large;
}